/BioGas_data_formater.ipynb
/BioGas/
/BeyondBlooms2024/figures_update_2.zip
/BeyondBlooms2024/figures_update_3.zip
/BeyondBlooms2024/tables_update2.zip
/BeyondBlooms2024/tables_update3.zip
/BeyondBlooms2024/CCMN_Paper_Submission/
/BeyondBlooms2024/data/
/BeyondBlooms2024/figures/
/BeyondBlooms2024/nets/
/BeyondBlooms2024/tables/
/BioGas_compare_predictions.ipynb
/requirements_otter.txt
/tutorial_old.zip
/Tutorial/
/.idea
